# =========================
# Visual Studio / .NET
# =========================
.vs/
bin/
obj/
Debug/
Release/
*.user
*.suo
*.cache
*.log
*.db
*.ldf
*.mdf

# Build results
*.exe
*.dll
*.pdb
*.app
*.appx
*.msi
*.msix
*.msm
*.msp

# NuGet
*.nupkg
packages/
*.snupkg

# Resharper / Rider
_ReSharper*/
*.DotSettings.user

# =========================
# Angular / Node
# =========================
node_modules/
dist/
tmp/
out-tsc/
.angular/
.angular-cache/

# Environment files
.env
.env.*.local

# IDE configs
.idea/
.vscode/

# =========================
# OS / Misc
# =========================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
